@font-face {
    font-family: SourceSansProLight;
    src: url(/Fonts/SourceSansPro-Light.otf);
}
@font-face {
    font-family: SourceSansProLightBold;
    src: url(/Fonts/SourceSansPro-Semibold.otf);
}

body {
    background-color: #3a3a3a; /*<!-- #555555 -->*/
    min-width: 1012px;
    margin:0;
    padding:0;

}

#Logo_Background{
    width:20%;
    height:72px;
    background-color: #843849;
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
}

#Logo{
	width:150px;
    margin-right:2%;
    margin-left:2%;
	height:75px;
    margin-top:-8px;
    vertical-align:middle;
	background-image:url("/Images/WorkoutWebsiteLogo.png");
	background-size:cover;
	position:fixed;
	left:0px;
	top:0px;
    z-index: 2;
}
#nav_bar{
    margin:0;
    padding:0;
    top:0px;
    right:0px;
    position: fixed;
  	height: 72px;
    width:80%;
    text-align: center;
    list-style-type: none;
    background-color: #843849;
    z-index: 2;
    
}
#ui-datepicker-div{
    display:none;
}
#nav_bar li{
    display:inline;
}
#nav_bar li button {
    border:none;
    outline:none;
    background-color: #843849;
    height: 72px;
    font-family: SourceSansProLight;
    font-size: 100%;
    color:#fff;
    display: inline-block;
    line-height: 72px;
    padding:0px 2% 0px 2%;
    margin:0;
}
/*3a3a3a b04f66*/
/*//////////////////////////////////
///////New Workout Excercise////////
//////////////////////////////////*/
#Excercise_Forms{
    margin-top: 20px;
    width:90%;
    margin-left:auto; 
    margin-right:auto;
    position:relative;
}
#Spacer{
    width:100%;
    height:72px;
}

th, td {
    font-family: SourceSansProLight;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #b2b3b3;
}
th {
    background-color: #843849;
    color: white;
}

table{
    margin-top: 30px;
    font-family: sans-serif;
    width:90%;
    margin-left:auto; 
    margin-right:auto;
    /*border:solid #843849;*/
    position:relative;
}
.Table_Header{
    font-family: SourceSansProLightBold;
    background-color: #843849;
    color:white;
    font-size: 22px;
}
/*//////////////////////////////////
/////////Scott Page/////////////////
//////////////////////////////////*/

#View_Progress_Page p{
    position:absolute;
    top:50%;
    margin-left:auto;
}

#CreateForm{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    background-color:#843849;
    border-radius: 3px;
    border: solid 3px white;
    padding:3%;
    color:white;
    font-family: SourceSansProLight;


}
input{
    width:80%;
}

#CreateForm input{
    margin: 1px;
    font-size: 15px;
}
#CreateForm div{
    width:100px;
    text-align: right;
    display:inline-block;
}
#NewUserEmail{
    width:40%;
}
#CreateNewUserButton{
    margin-left:20px;
}
#SubmitWorkoutButton{
    margin-top: 10px;
    width:90%;
    height:25px;
    margin-right: 5%;
    margin-left: 5%;
}
#AddWorkoutRow{
    width:100%;
    height:100%;
}
#create_full_button{
    height:30px;
    width:100%;
    
}
h2{
    margin:0;
    padding-bottom:3px;
    margin-bottom:10px;
    border-bottom: 1px solid white;
}