@media only screen and (max-device-width : 768px) {

@font-face {
    font-family: SourceSansProLight;
    src: url(Fonts/SourceSansPro-Light.otf);
}
@font-face {
    font-family: SourceSansProLightBold;
    src: url(Fonts/SourceSansPro-Semibold.otf);
}

body {
	background-color: #3a3a3a;
	font-family: SourceSansProLight;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

     .swiper-container {
     	margin-top:20%;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
#backgroud{
	width:100%;
	height:100%;
	z-index: -10;
	background-color:#3a3a3a;
}
#Spacer{
	height:7%;
	width:100%;
	position: relative;
}
#Header{
	width:100%;
	height:7%;
	top:0;
	left:0;
	position: fixed;
	background-color: #843849;

}
.delete-ex-button:hover{
	background-color:#000;

}
#Logo{
    margin-right:40%;
    margin-left:40%;
	height:7%;
	min-width: 20%;
	background-image:url("/Images/WorkoutWebsiteLogo.png");
	background-size:cover;
	position:fixed;
	left:0px;
	top:0px;
    z-index: 2;
}
#Hamburger_icon{
	position:absolute;
	width:110px;
	height:110px;
	margin:6px 0px 0px 10px;
	padding:0px;
	background-image:url("/Images/menu-alt-512.png");
	background-size:cover;
	left:0px;
	top:0px;
}
#nav_bar{
	z-index:10;
	position:fixed;
	left:0;
	top:7%;
	width:50%;
	margin:0;
	padding:0;
	height:100%;
	background-color: #843849;
    font-size: 60px;
   
}
#Transparent_Div{
	z-index: 5;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
#nav_bar li {
	padding:30px;
	list-style: none; 
	font-family: SourceSansProLight;
	color:#ffffff;
	border: 2px #333 solid;
}
#Workout_bar{
	position:fixed;
	margin:0;
	padding:0;
	width:100%;
	background-color: #333;
  	height: 60px; 
  	left:0;
  	top:7%;
}
#Workout_bar li{
	color:#ffffff;
	margin:0;
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
    display:inline-block;
	
}
#Workouts{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:20%;
}
table{
	text-shadow:none;
	font-family: SourceSansProLight;
	width:100%;
	border:solid #7b3040 5px;
}
tr, td, th{
	border-collapse: collapse;
	border:0px;
	margin:0;
	padding: 1%;


}
th{
	color:#ffffff;
	font-family: SourceSansProLightBold;
	font-size: 28px;
	background-color: #7b3040;
}
tr{
	font-family: SourceSansProLight;
	font-size: 28px;
}
td{
	font-family: SourceSansProLight;
	font-size: 28px;

}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(even) input{
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #b2b3b3;
}
tr:nth-child(odd) input{
    background-color: #b2b3b3;
    
}
input{
	font-size: 28px;
	font-family: SourceSansProLight;
	width:99%;
	margin:0;
	padding:0;
	height:100%;
	border:2px gray solid;
	border-radius: 2px;
	outline:none;
}

#Workout_Submit_Button{
	padding-top:2%;
	padding-bottom:2%;
	text-align: center;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	background-color:#7b3040;
	color:white;

}
}