@media only screen and (max-device-width : 768px) {

body {
    background-color: #737373; /*<!-- #555555 -->*/
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
h1{
	padding-top:1%;
	padding-bottom:1%;
	margin:0;
	top:0;
	height:7%;
	text-align: center;
	font-size: 100px;
	color: white;
	background-color: #7b3040;
	font-family: sans-serif;
	border-bottom:solid white 4px;

}
#Hamburger_icon{
	position:absolute;
	width:110px;
	height:110px;
	margin:6px 0px 0px 10px;
	padding:0px;
	background-image:url("/Users/AndyWood/Desktop/Coding_Projects/Unfinished/WeightRoomManagment/Public/Images/menu-alt-512.png");
	background-size:cover;
	left:0px;
	top:0px;
}
#nav_bar{
	margin: 0;
	padding:0;
	padding-top:2%;
	padding-bottom:2%;
	top:6%;
	height:8%;
	background-color: #7b3040;
    font-size: 50px;
   
}
#nav_bar li {
	margin:0;
	padding:0;
	list-style-type: none;
	text-align: center;
	font-family: sans-serif;
	color:#ffffff;
    display:inline-block;
    width:32%;

    padding-top:1%;
	padding-bottom:1%;
	margin:0;
	height:auto;
	font-size: 30px;
}
#nav_bar li:nth-child(even) {
	border-left: solid #bfc0c0 5px;
	border-right: solid #bfc0c0 5px;
}
#Workout_bar{
	margin: 0;
	padding:0;
	width:100%;
	height:110%;
	background-color: #323333;
  	height: 10%;
    top:11%; 
    margin-bottom: 3%;
}
#Workout_bar li{
	color:#ffffff;
	padding-top:1%;
	padding-bottom:1%;
	margin:0;
	padding-left: 0;
	padding-right: 0;
	height:auto;
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
    display:inline-block;
    width:32%; 
	
}
#Workout_bar li:nth-child(even) {
	border-left: solid #bfc0c0 7px;
	border-right: solid #bfc0c0 7px;
}
#Workout_bar li:first-child{
	border-right: solid #bfc0c0 7px;
}
#Workout_bar li:last-child{
	border-left: solid #bfc0c0 7px;
}
#Workouts{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
table{
	position: relative;
	left:5%;
	right:5%;
	max-width:90%;
	top:25%;
	border:solid #7b3040 5px;
}
tr, td, th{
	font-family: sans-serif;
	border-collapse: collapse;
	border:0px;
	margin:0;
	padding: 1%;


}
.input{
	height:45px;
	width:100%;
	font-size: 28px;
}
th{
	color:#ffffff;
	font-size: 28px;
	background-color: #7b3040;
}
tr{
	font-size: 28px;

}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(even) input{
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #b2b3b3;
}
tr:nth-child(odd) input{
    background-color: #b2b3b3;
    
}
input{
	border: 0px solid;
	font-size: 28px;
	width:100%;
	height:100%;
}

#Workout_Submit_Button{
	padding-top:2%;
	padding-bottom:2%;
	text-align: center;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	background-color:#7b3040;
	color:white;

}


}