<!DOCTYPE html>
    <head>
                <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../Public/create_Workout.js">
        </script>
        <link rel="stylesheet" href="../Public/create_Workout.css">

    </head>
	<body>
        <h1>L I F T</h1>
        <!--<div id = "Hamburger_icon"></div>-->
        <div id= "nav_bar">
            <div>
                <a id="Create_Full_Workout_Nav_Button">Create Full Workout</a>
            </div>
            <div>
                <a id="Create_Workout_Nav_Button">Create Workout</a>
            </div>
            <div>
                <a id="Assign_Workout_Nav_Button" >Assign Workout</a>
            </div>
            <div>
                <a id="Create_Group_Nav_Button" > Create Group</a>
            </div>
            <div>
                <a id="Create_User_Nav_Button" > Create User</a>
            </div>
            <div>
                <a id="View_Progress_Nav_Button"> View Progress</a>
            </div>
        </div>


        <div id="Create_Full_Workout_Page">
            <h2>Create Full Workout</h2>
            <input type="text" id="full_name" placeholder="Full Workout Name">
            <input type="number" id="cyclenum" placeholder="Number of Weeks">
            <input type="number" id="cyclelen" placeholder="Number of Days in Week">
            <button id="create_full_button" type="button">Create Full Workout</button>
        </div>


        <div id="Create_Workout_Page">
            <!--<h2>Post Workout To:</h2>-->
            <table id="Workout_Post_Info">
                <tr>
                    <td class="Table_Header" colspan = "4">Workout Information</td>
                </tr>
                <tr>
                    <th>Full</th>
                    <th>Week/day</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>
                       <select id="full_workout">
                            <option value="">Select Full</option>
                            {{#workouts}}
                            <option value="{{workout}}">{{workout}}</option>
                            {{/workouts}}
                        </select>
                    </td>
                    <td>
                        <select id="week/day">
                            <option week="" day="">Week x, Day y</option>
                        </select>
                    </td>
                    <td><input type="date" id="workout_date" placeholder="yyyy-mm-dd" min="2016-01-01" max="2116-01-01"></td>
                </tr> 
            </table>
            <!--<h3>Workout Info:</h2>-->
            <h1> Create Workout</h1>
            <table id="Excercise_Forms">
                <tr>
                    <th>Set Number</th>
                    <th>Excercise Order</th>
                    <th>Excercise Name</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Submit/Delete</th>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="new-set-number" min="1" max="20">
                    </td>
                    <td>
                        <input type="number" id="new-exercise-number" min="1" max="20">
                    </td>
                    <td>
                        <select id="new-exercise-name">
                                <option class="Exercise-name" value="">Select Exercise</option>
                            {{#exercises}}
                                <option class="Exercise-name" url="{{url}}" value="{{name}}">{{name}}</option><!--we may be able to do something with url here-->
                            {{/exercises}}
                        </select>
                    </td>
                    <td>
                        <input type="number" id="new-exercise-sets" min="1" max="20">
                    </td>
                    <td>
                        <input type="number" id="new-exercise-reps"
                        min="1" max="1000">
                    </td>
                    <td>
                        <button type="button" id="submit-ex-button">Submit</button>
                    </td>
                </tr>
            </table> 
            <button id="SubmitWorkoutButton" type="button">Submit Workout</button>
        </div>


        <div id="Create_Group_Page">
            <table id="Workout_Post_Info">
                <tr>
                    <td class="Table_Header" colspan = "4">Create New Group</td>
                </tr>
                <tr>
                    <th colspan = "4">Name of Group</th>
                </tr>
                <tr>
                    <td colspan = "4">
                        <form >
                            <input id="NewGroupName" type="text" name="Name">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="Table_Header" colspan = "4">Add Group Members</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Remove</th>
                </tr>
                <tr>
                    {{#users}}
                    <td>
                        <select id="newgroupusername">
                            <option value="{{name}}/{{email}}">{{name}}</option>
                        </select>
                    </td>
                    <td>
                        <select id="newgroupuseremail">
                            <option value="{{name}}/{{email}}">{{email}}</option>
                        </selcet>
                    </td>
                    {{/users}}
                    <td><button id="AddToNewGroupButton">Add</button></td>
                </tr>
                <tr>
                    <td class="Table_Header" colspan = "3">
                        <button id="SubmitGroupButton" type="button">Submit New Group</button>
                    </td>
                </tr> 
            </table>

            <table id="Group_Post_Info">
                <tr>
                    <td class="Table_Header" colspan = "4">Edit Existing Group</td>
                </tr>
                <tr>
                    <th colspan = "4">Name of Group</th>
                </tr>
                <tr id="group_row">
                    <td colspan = "4">
                        <select id="AddGroupDrop">
                            <option value="">Select</option>
                            {{#groups}}
                            <option value="{{group}}">{{group}}</option>
                            {{/groups}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="Table_Header" colspan = "4">Current Group Members</td>
                </tr>
                <tr id="header_existing">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Remove</th>
                </tr>
                <tr id="AddMemberRow">
                    <td class="Table_Header" colspan = "4">Add Group Member</td>
                </tr>
                <tr>
                    <th>New Member Name</th>
                    <th>New Member Email</th>
                    <th>Add to Group</th>
                </tr>
                <tr>
                    {{#users}}
                    <td>
                        <select id="oldgroupusername">
                            <option value="{{name}}/{{email}}">{{name}}</option>
                        </select>
                    </td>
                    <td>
                        <select id="oldgroupuseremail">
                            <option value="{{name}}/{{email}}">{{email}}</option>
                        </selcet>
                    </td>
                    {{/users}}
                    <td><button id="AddToOldGroupButton" onclick="editGroupadd(this)">Add</button></td>
                </tr>
            </table>
        </div> 


        <div id="View_Progress_Page">
           <p>Scott Stuff
           </p>
        </div>


        <div id="Assign_Workout_Page">
            <table id="Assign_Post_Info">>
                <tr>
                    <td class="Table_Header" colspan = "2">Assign a Workout to a Group</td>
                </tr>
                <tr>
                    <th>Workout</th>
                    <th>Unassigned Groups</th>
                </tr>
                <tr>
                    <td>
                        <select id="AssignWorkoutDrop">
                            <option value="">Select</option>
                            {{#workouts}}
                            <option value="{{workout}}">{{workout}}</option>
                            {{/workouts}}
                        </select>
                    </td>
                    <td>
                       <select id="AssignGroupDrop">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan = "2">
                        <button id="AssignWorkoutButton" type="button">Assign Workout</button>
                    </td>
                </tr> 
            </table>
            <table id="Unassign_Post_Info">
                <tr>
                    <td class="Table_Header" colspan = "4">UnAssign a Workout to a Group</td>
                </tr>
                <tr>
                    <th>Group</th>
                    <th>Assigned Workouts</th>
                </tr>
                <tr>
                    <td>
                        <select id="UnAssignGroupDrop">
                            <option value="">Select</option>
                            {{#groups}}
                            <option value="{{group}}">{{group}}</option>
                            {{/groups}}
                        </select>
                    </td>
                    <td>
                       <select id="UnAssignWorkoutDrop">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan = "3">
                        <button id="UnAssignWorkoutButton" type="button">Unassign Workout</button>
                    </td>
                </tr>  
            </table>
        </div>


        <div id="Create_Account_Page">
            <div id="CreateForm">=
                <input id="NewUserFirstName" type="text" placeholder="First name" class='Name'> 
                <input id="NewUserLastName" type="text" placeholder="Last name" class='Name'>
                <input id="NewUserEmail" type="text" placeholder="STAB email">
                <button id="CreateNewUserButton">Create</button>
            <div>
        </div>

    </body>