<!DOCTYPE html>
    <head>
                <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="../Public/create_Workout.js">
        </script>
        <link rel="stylesheet" href="../Public/create_Workout.css">

    </head>
	<body>
        <h1>L I F T</h1>
        <!--<div id = "Hamburger_icon"></div>-->
        <ul id= "nav_bar">
            <li><a id="Create_Workout_Nav_Button" href="#news">Create Workout</a></li>
            <li><a id="View_Progress_Nav_Button" href="#contact">View Progress</a></li>
        </ul>
        <div id="Create_Workout_Page">
            <!--<h2>Post Workout To:</h2>-->
            <table id="Workout_Post_Info">
                <tr>
                    <td class="Table_Header" colspan = "4">Workout Information</td>
                </tr>
                <tr>
                    <th>Workout Date</th>
                    <th>Team</th>
                    <th>Grade</th>
                    <th>Player</th>
                </tr>
                <tr>
                    <td>3/4/16</td>
                    <td>
                       <select>
                            <option value="Bench Press">Any</option>
                            <option value="Front Squat">Varsity Boys Baseball 2016</option>
                            <option value="Push ups">Varsity Girls Fieldhockey</option>
                            <option value="Chin ups">Varsity Boys Soccer</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option value="Bench Press">Any</option>
                            <option value="Front Squat">Freshman</option>
                            <option value="Push ups">Sophomore</option>
                            <option value="Chin ups">Junior</option>
                            <option value="Chin ups">Senior</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option value="Bench Press">Any</option>
                            <option value="Front Squat">Will Define</option>
                            <option value="Push ups">Scott Williams</option>
                            <option value="Chin ups">Andy Wood</option>
                        </select>
                    </td>
                </tr>
                
            <table>
            <!--<h3>Workout Info:</h2>-->
            <table id="Excercise_Forms">
                <tr>
                    <td class="Table_Header" colspan = "4">Workout Contents</td>
                </tr>
                <tr>
                    <th>Excercise Number</th>
                    <th>Excercise Name</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>1a</td>
                    <td>
                        <select>
                            <option value="Bench Press">Bench Press</option>
                            <option value="Front Squat">Front Squat</option>
                            <option value="Push ups">Push ups</option>
                            <option value="Chin ups">Chin ups</option>
                        </select>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>1b</td>
                    <td>
                        <select>
                            <option value="Bench Press">Bench Press</option>
                            <option value="Front Squat">Front Squat</option>
                            <option value="Push ups">Push ups</option>
                            <option value="Chin ups">Chin ups</option>
                        </select>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>2a</td>
                    <td>
                        <select>
                            <option value="Bench Press">Bench Press</option>
                            <option value="Front Squat">Front Squat</option>
                            <option value="Push ups">Push ups</option>
                            <option value="Chin ups">Chin ups</option>
                        </select>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>2b</td>
                    <td>
                        <select>
                            <option value="Bench Press">Bench Press</option>
                            <option value="Front Squat">Front Squat</option>
                            <option value="Push ups">Push ups</option>
                            <option value="Chin ups">Chin ups</option>
                        </select>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                    <td><form>
                            <input type="text" name="firstname">
                        </form>
                    </td>
                </tr>

            </table>
        </div>
        <div id="View_Progress_Page">
           <p>Scotts Filth</p>
        </div>


        





        <footer></footer>
    </body>