<!DOCTYPE html>
    <head>
                <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <!--Jquery Ui-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!--Hammer.js-->
        <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
        <!--Jquery Mobile-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
        <!--Andys JS-->
        <script type="text/javascript" src="/Users/AndyWood/Desktop/Coding_Projects/Unfinished/WeightRoomManagment/Public/Login.js">
        </script>
        <!--Andys CSS-->
        <link rel="stylesheet" media="all and (orientation:portrait)" href="../Public/Login.css">
    </head>
	<body>
        <h1>L I F T</h1>

        <div id="Login">
            <form>
                <input id="LoginUsernameArea" type="text" placeholder="Username">
                <input id="LoginPasswordArea" type="text" placeholder="Password">
                <input id="LoginButton" type="submit" value="Login">
            </form>
            <button id="NewAccountButton" type="button">Create New Account</button>
        </div>

        <div id="CreateAccount">
            <form>
                <input id="NewUserFirstName" type="text" placeholder="First name" class='Name'> 
                <input id="NewUserLastName" type="text" placeholder="Last name" class='Name'>
                <input id="NewUserEmail" type="text" placeholder="STAB email">
                <input id="NewUserPassword" type="text" placeholder="Password">
                <input id="NewUserButton" type="submit" value="Sign Up">
            </form>
        </div>

    </body>