<!DOCTYPE html>
    <head>
                <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <script type="text/javascript" src="/Users/AndyWood/Desktop/Coding_Projects/Unfinished/WeightRoomManagment/Public/view_Workout.js">
        </script>
        <link rel="stylesheet" media="all and (orientation:portrait)" href="../Public/view_Workout.css">

    </head>
	<body>
        <h1>L I F T</h1>
        <!--<div id = "Hamburger_icon"></div>-->
        <ul id= "nav_bar">
            <li>Profile</li>
            <li>Workout</li>
            <li>Progress</li>
        </ul> 
        <ul id= "Workout_bar">
            <li>1/20/00</li>
            <li>3/14/16</li>
            <li>4/1/16</li>
        </ul>

        <table id="Excersie_1_Set_1">
            <tr>
                <th>Exercise Number
                <th>Exercise Name
                <th>Sets
                <th>Reps
                <th>Weight(Kg)
                <th>Weight(Lbs)

            </tr>
            <tr>
                <td>1a
                <td>Bench
                <td>3
                <td>8
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td>1b
                <td>Squat
                <td>1
                <td>6
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <button  type="button" id="Workout_Submit_Button">Submit Workout</button>
                </td>    
            </tr>
        </table>

        <table id="Excersie_1_Set_2">
            <tr>
                <th>Exercise Number
                <th>Exercise Name
                <th>Sets
                <th>Reps
                <th>Weight(Kg)
                <th>Weight(Lbs)

            </tr>
            <tr>
                <td>1a
                <td>Front Squat
                <td>3
                <td>8
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td>1b
                <td>Push Up
                <td>2
                <td>6
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <button  type="button" id="Workout_Submit_Button">Submit Workout</button>
                </td>    
            </tr>
        </table>
        <table id="Excersie_1_Set_3">
            <tr>
                <th>Exercise Number
                <th>Exercise Name
                <th>Sets
                <th>Reps
                <th>Weight(Kg)
                <th>Weight(Lbs)

            </tr>
            <tr>
                <td>1a
                <td>Pull Ups
                <td>3
                <td>8
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td>1b
                <td>run
                <td>4
                <td>6
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
                <td>
                    <form>
                        <input class="input" type="text" value="0">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <button  type="button" id="Workout_Submit_Button">Submit Workout</button>
                </td>    
            </tr>
        </table>




    </body>